{
	"plugins": [
		["babel-plugin-root-import", {
      "rootPathSuffix": "."
    }],
		"transform-class-properties",
		"transform-es2015-destructuring",
		"transform-object-rest-spread"
	],
  "presets": ["env", "react"]
}