{
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "prettier"
  ],
  "extends": [
    "airbnb",
  	"prettier",
  	"prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": "error",
    "no-else-return": ["error", { "allowElseIf": true }],
    "prefer-destructuring": "error",
    "prefer-const": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0
  }
}