.button {
	display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background, border;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  padding: 0;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }

	&.button--default {
		background-color: light-grey;
	}

	&.button--primary {
		background-color: light-blue;
	}
}