.button {
  border: 0;
  cursor: pointer;
  appearance: none;
  transition-property: color, background, border;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  padding: 1em 1.2em;
  margin: 0 0.5em;

  &.button--primary:not(.button--disabled) {
    background-color: lightblue;

    &:active,
    &:hover {
      background-color: steelblue;
    }
  }

  &.button--info:not(.button--disabled) {
    background-color: lightgrey;

    &:active,
    &:hover {
      background-color: grey;
    }
  }

  &.button--success:not(.button--disabled) {
    background-color: lightgreen;

    &:active,
    &:hover {
      background-color: mediumseagreen;
    }
  }

  &.button--warning:not(.button--disabled) {
    background-color: gold;

    &:active,
    &:hover {
      background-color: darkorange;
    }
  }

  &.button--danger:not(.button--disabled) {
    background-color: indianred;

    &:active,
    &:hover {
      background-color: firebrick;
    }
  }

  &.button--disabled {
    border: 1px solid lightgrey;
    cursor: auto;
  }
}
