.button {
  appearance: none;
  border: 0;
  cursor: pointer;
  margin: 0 0.5em;
  padding: 1em 1.2em;
  transition-duration: 200ms;
  transition-property: color, background;
  transition-timing-function: ease-in;

  &--primary:not(&--disabled) {
    background-color: #3f5b96;
    color: #ffffff;
  }

  &--info:not(&--disabled) {
    background-color: #cce2ea;
  }

  &--success:not(&--disabled) {
    background-color: #6b9956;
  }

  &--warning:not(&--disabled) {
    background-color: #f4ef60;
  }

  &--danger:not(&--disabled) {
    background-color: #f96b59;
  }

  &--disabled {
    background-color: #ffffff;
    border: 1px solid #b5acaa;
    cursor: auto;
  }
}
