.page--dashboard {
  display: flex;
  flex-direction: row;

  .side-bar {
    background-color: #19222f;
    width: 233px;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin-top: 20px;
    width: 100px;
    height: 33px;
  }

  .navigation {
    text-align: left;

    .list-item__link {
      display: block;
      padding: 15px 64px;
      color: white;
      text-decoration: none;
    }

    .list-item {
      position: relative;

      &__icon {
        position: absolute;
        color: white;
        top: 20px;
        left: 35px;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-bar {
    border-bottom: 1px solid lightgrey;
    padding: 0 40px;

    .title {
      display: inline-block;
    }
  }

  .body {
    padding: 0 40px;
  }
}
