html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page--dashboard {
  display: flex;
  flex-direction: row;

  .side-bar {
    background-color: #19222f;
    position: relative;
    text-align: center;
    width: 233px;
  }

  .logo {
    display: inline-block;
    height: 33px;
    margin-top: 20px;
    width: 100px;
  }

  .user--avatar {
    color: white;
    margin: 50px auto;
    text-align: center;

    .user__image {
      margin: 0 auto;
    }
  }

  .navigation {
    text-align: left;

    &--utility {
      bottom: 0;
      position: absolute;
    }

    &-item__link {
      color: white;
      display: block;
      padding: 15px 64px;
      text-decoration: none;
    }

    &-item {
      position: relative;

      .icon {
        color: white;
        left: 35px;
        position: absolute;
        top: 17px;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-bar {
    border-bottom: 1px solid lightgrey;
    padding: 0 40px;

    .title {
      display: inline-block;
    }

    .button--campaign {
      float: right;
    }
  }

  .dropdown {
    display: inline-block;
    float: right;
    width: 100px;

    &__control {
      border-radius: 0;
    }
  }

  .body {
    padding: 0 40px;
  }

  .campaign-graph {
    background: lightgrey;
    display: inline-block;
    height: 300px;
    margin-top: 17px;
    vertical-align: top;
    width: 65%;
  }

  .progress-bar {
    margin: 10px 0;
    position: relative;

    &__percentage {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .campaign-responses {
    display: inline-block;
    padding-left: 20px;
    width: 35%;
  }

  .campaign-lists {
    background: lightgrey;
  }

  .campaign-list {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
